<mat-card class="card">
    <mat-card-content>
        <img class="card__picture" src="../../../../../../assets/products-images/{{product!.image}}">
        <div class="card__info">
            <h4>{{product!.name}}</h4>
            <p>Price: {{product!.price}}</p>
            <div class="card__form-field">
                <mat-form-field class="form__field" appearance="standard">
                    <mat-label>Quantity:</mat-label>
                    <mat-select [formControl]="quantity">
                        <mat-option *ngFor="let quantityAmount of quantityArray" [value]="quantityAmount">
                            {{quantityAmount}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="quantity.hasError('required')">
                        Please choose quantity</mat-error>
                </mat-form-field>
                <button mat-icon-button [disabled]="quantity.hasError('required')" (click)="addToCart(product!)"
                    color="primary">
                    <mat-icon>add_shopping_cart</mat-icon>
                </button>
            </div>

        </div>
    </mat-card-content>
    <mat-card-footer class="card__footer">

        <mat-card-actions class="card__buttons">
            <button mat-icon-button (click)="editProduct(product!)" color="primary">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="delProduct(product!._id)" color="warn">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card-footer>
</mat-card>