<!-- <app-nav-bar></app-nav-bar> -->
<section>
    <div class="banner-innerpage" style="
            background-image: url(https://images.pexels.com/photos/1005638/pexels-photo-1005638.jpeg?cs=srgb&dl=pexels-oleg-magni-1005638.jpg&fm=jpg);
          ">
        <div>
            <!-- Row  -->
            <div class="row justify-content-center">
                <!-- Column -->
                <div class="col-md-6 align-self-center text-center" data-aos="fade-down" data-aos-duration="1200">
                    <h1 class="title">{{title}}</h1>

                </div>
                <!-- Column -->
            </div>
        </div>
    </div>
</section>