<div>
    <mat-card>
        <mat-card-content>
            <span>
                <img style="width: 45px; height:45px ;" src="../../../../assets/products-images/{{image}}">
            </span>
            <b>Name: </b> {{name}}
            <b>Price: </b> {{price}}
            <b>quantity: </b>
            <mat-select style="width: 40px;" [(ngModel)]="productQuantity">
                <mat-option value=1>1</mat-option>
                <mat-option value=2>2</mat-option>
                <mat-option value=3>3</mat-option>
                <mat-option value=4>4</mat-option>
                <mat-option value=5>5</mat-option>
                <mat-option value=6>6</mat-option>
                <mat-option value=7>7</mat-option>
                <mat-option value=8>8</mat-option>
                <mat-option value=9>9</mat-option>
                <mat-option value=10>10</mat-option>
            </mat-select>
            <b>TotalPrice: </b> {{totalPrice}}

            <mat-card-actions>
                <button mat-icon-button color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>

        </mat-card-content>
    </mat-card>

</div>