<div class="container">
    <mat-card class="card__form">
        <mat-card-content>
            <!-- <img class="card__picture" src="../../../../../../assets/products-images/{{product!.image}}"> -->
            <div class="card__info">
                <mat-list role="list">
                    <mat-list-item role="listitem"><strong>First name: </strong>{{user?.firstName}}</mat-list-item>
                    <mat-list-item role="listitem"><strong>Last name: </strong>{{user?.lastName}}</mat-list-item>
                    <mat-list-item role="listitem"><strong>ID: </strong>{{user?.userId}}</mat-list-item>
                    <mat-list-item role="listitem"><strong>Email: </strong>{{user?.email}}</mat-list-item>
                    <mat-list-item role="listitem"><strong>Phone: </strong>{{user?.phoneNumber}}</mat-list-item>
                    <mat-list-item role="listitem"><strong>Address: </strong>
                        <address>
                            <!-- <mat-list role="list"> -->
                            <!-- <mat-list-item role="listitem"> -->
                            <strong>City: </strong>{{user?.address?.city}}
                            <!-- </mat-list-item> -->
                            <!-- <mat-list-item role="listitem"> -->
                            <strong>Street: </strong>{{user?.address?.street}}
                            <!-- </mat-list-item> -->
                            <!-- <mat-list-item role="listitem"> -->
                            <strong>House number: </strong>{{user?.address?.houseNumber}}
                            <!-- </mat-list-item> -->
                            <!-- <mat-list-item role="listitem"> -->
                            <strong>Zip code: </strong>{{user?.address?.zipCode}}
                            <!-- </mat-list-item> -->
                            <!-- </mat-list> -->
                        </address>
                    </mat-list-item>

                </mat-list>

            </div>
        </mat-card-content>
        <mat-card-footer class="card__footer">

            <mat-card-actions class="card__buttons">
                <button mat-icon-button (click)="edit()" color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card-footer>
    </mat-card>
</div>