<div class="container">
    <div class="cards-container">
        <div *ngFor="let category of allCategories">
            <mat-card class="card">
                <mat-card-title-group>
                    <mat-card-title>{{category.name}}</mat-card-title>

                </mat-card-title-group>
                <mat-card-content>
                    <img class="card__picture" src="../../../../../../assets/categoriesImeges/{{category.image}}">
                </mat-card-content>
                <mat-card-footer>
                    <mat-card-actions>
                        <button mat-flat-button routerLink="/products/{{category.name}}" color="primary">Show
                            products</button>
                        <button mat-flat-button (click)="editCategory(category)" color="primary">Edit category</button>
                        <button mat-flat-button (click)="delCategory(category)" color="warn">Delete category</button>
                    </mat-card-actions>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>

</div>