.mat-drawer,
.mat-drawer-inner-container {
  overflow: hidden !important;
}
.mat-drawer-inner-container {
  height: 90vh !important;
}

.example-spacer {
  flex: 1 1 auto;
}

.search__form-field {
  font-size: 0.9rem;
}
::ng-deep .mat-menu-panel {
  padding: 0 10px !important;
}
