.categories_menu {
  display: grid;
  grid-template-rows: 100%;
}

.mat-drawer,
.mat-drawer-inner-container {
  overflow: hidden !important;
}
.mat-drawer-inner-container {
  height: 90vh !important;
}

.example-spacer {
  flex: 1 1 auto;
}
