<nav>
    <mat-toolbar class="app-header" color="primary">

        <span>Shopping App</span>
        <div>
            <button mat-button [matMenuTriggerFor]="menu">Categories</button>
            <mat-menu #menu="matMenu" class="categories_menu">
                <div *ngFor="let category of categoriesMenu">
                    <button class="categories_menu-btn" (click)="navigateMenu(category.name)"
                        mat-menu-item>{{category.name}}</button>
                </div>
                <mat-divider></mat-divider>
                <button mat-menu-item routerLink="/categories/add">Add Category</button>
            </mat-menu>
            <button mat-button routerLink="/add-operation">Add Operation</button>
            <button mat-button routerLink="/accounts">All Clients Accounts</button>
        </div>
        <span class="example-spacer"></span>

        <button type="button" mat-button (click)="sidenav.toggle()">
            Cart
        </button>

        <!-- <div *ngIf="auth.isLoggedIn">
            <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button class="menu-title" mat-menu-item disabled>
                    Welcome,&nbsp;<span>{{auth.getUser()?.user.displayName}}</span>
                </button>
                <mat-divider></mat-divider>
                <button *ngIf="auth.getUser()?.role === 'manager'" routerLink="/add-user" mat-menu-item>
                    <mat-icon>person_add</mat-icon>
                    <span>Add Employee</span>
                </button>
                <button routerLink="/profile" mat-menu-item>
                    <mat-icon>manage_accounts</mat-icon>
                    <span>Profile</span>
                </button>
                <button (click)="signOut()" mat-menu-item>
                    <mat-icon>logout</mat-icon>
                    <span>Log-out</span>
                </button>
            </mat-menu>

        </div> -->
        <!-- <div *ngIf="!auth.isLoggedIn">
            <button mat-button routerLink="/authentication/log-in">Log in</button>
        </div> -->

    </mat-toolbar>

    <mat-sidenav-container style="overflow: none;">
        <mat-sidenav position="end" #sidenav>
            <app-cart></app-cart>
        </mat-sidenav>
        <mat-sidenav-content>
            <div style="height: 90vh; ">
                <app-header></app-header>
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</nav>